<div class="container">
  <h1>The News API</h1>
  <% if flash.notice %>
    <div class="alert alert-danger" role="alert">
      <%= flash.notice %>
    </div>
  <% end %>
  <br>

  <%= form_with url: root_path, method: :get do |f| %>
    <div class="row">
      <div class="col-2">
        <%= f.select :type, [['All results', 'all'], ['Top stories', 'top']], {}, { class: 'form-control' } %>
      </div>
      <div class="col-8">
        <%= f.text_field :search, required: true, placeholder: 'Search for news...', class: 'form-control' %>
      </div>
      <div class="col-2">
        <%= f.submit 'Search', class: 'btn btn-success btn-block' %>
      </div>
    </div>
  <% end %>
  <br>

  <table class="table table-striped" style="width: 100%; table-layout: fixed;">
    <thead>
      <tr>
        <th scope="col" style="width: 15%;">Date</th>
        <th scope="col" style="width: 10%;">Categories</th>
        <th scope="col" style="width: 50%;">Article</th>
        <th scope="col" style="width: 15%;">Keywords</th>
      </tr>
    </thead>
    <tbody>
      <% unless @response.nil? %>
        <% @response['data'].each do |data| %>
          <tr>
            <% data_presenter = NewsApiDataPresenter.new(data) %>
            <td><%= data_presenter.published_at %></td>
            <td>
              <% data_presenter.categories.each do |category| %>
                <span class="badge bg-primary" style="color: white;"><%= category %></span>
              <% end %>
            </td>
            <td>
              <span style="font-weight: bold;">
                <%= link_to data_presenter.title, data_presenter.url, target: '_blank' %>
              </span><br>
              <%= data_presenter.description %><br>
              <span style="font-size: 80%; color: grey;">
                <%= data_presenter.snippet %>
              </span><br>
              <span>
                <%= image_tag data_presenter.image_url, style: 'width: 50%; height: 50%;' %>
              </span>
            </td>
            <td>
              <% data_presenter.keywords.each do |keyword| %>
                <span class="badge bg-primary" style="color: white;"><%= keyword %></span>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>